:root {
    --font:'stolzl'; 
    --background-color: #EFF1F1;
    --first-text-color: #2D3132;
    --second-text-color: #5C5F60;
    --advertising-background: #CBDCFF;

}
.general {
    width: 1728px;
    height: 2543px;
}
.advertising {
    font-family:var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #0F1A34;
    text-decoration: none;
    background: var(--advertising-background);
    } 
    .logo-monvalise {
        width: 150px;
        height: 21px;
        margin: 10px 75px 0 0;
    }
    .input-search {
        width:550px;
        height: 38px;
        border-radius: 4px;
        margin-right: 20px;
    }
    .button {
        width: 129px;
        height: 38px;
        border-radius: 4px;
        background: var(--first-text-color);
        padding: 10px 20px;
        margin: 0 20px;
        
    }
    .button-language {
        font-family:var(--font);
        text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--first-text-color);
       margin: 0 10px;
       background: #FFF;
        
    }
    .icon-form {
        width: 20px;
        height: 18px;
    }
    .button-icon {
        margin: 0 10px; 
        background: #FFF;
    }
    .sign-in {
        width: 32px;
        height: 32px;
    }
    .menu {
        font-family:var(--font);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #444748;
    text-transform: uppercase;
    }
   .catalog-branch-active {
    font-family:var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #747778;
    text-decoration: none;
   }
   .catalog-branch {
    font-family:var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--first-text-color);
   }
.name-page {
    font-family:var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--first-text-color);
}
.filters {
    font-family:var(--font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--second-text-color);
}
.sort {
    font-family:var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--second-text-color);
}
.button-sort {
    font-family:var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--first-text-color);
    background: var(--background-color);
}
ul {
    list-style: none;
}
.general-info {
    font-family:var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: var(--first-text-color);
    text-decoration: none;
    }
    .catalog-size {
    width: 312px;
}
.catalog {
    height: 53px;
    padding: 16px 24px;
    background: var(--background-color);
    color:var(--first-text-color);

}
.price-input {
    width: 100%;
    

}
.field input {
    width: 50px;
    height: 40px;
    outline: none;
    font-size: 12px;
    color: var(--first-text-color);
    border: 1px solid white;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.slider {
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: var(--second-text-color);
}
.slider .progress {
    height: 5px;
    background: var(--first-text-color);
    border-radius: 5px;
    position: absolute;
    left: 25%;
    right: 25%;
}
.range-input {
    position: relative;
}
.range-input input {
position: absolute;
top: -5px;
height: 5px;
width: 100%;
-webkit-appearance: none;
background: none;
pointer-events: none;
}
 input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background: var(--first-text-color);
    -webkit-appearance: none;
     }
     input[type="range"]::-moz-range-thumb {
        pointer-events: auto;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background: var(--first-text-color);
    -moz-appearance: none;
     }

.card-size {
    width: 312px;
    height: 476px;
}
.small-style-text {
    font-family:var(--font);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: var(--second-text-color);
}
.card-info {
    font-family:var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: var(--first-text-color);
    margin: 0 -30px;
}
.info-secondary {
    font-family:var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--second-text-color); 
    margin: 0 -30px; 
}

.image-card {
    width: 207px;
    height: 263px;
}
.icon-image {
    position: absolute;
    right: 16px;
    top: 18px;
    width: 20px;
    height: 16px;
    
}
.pagination-style {
    font-family:var(--font);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: var(--second-text-color);
}
a .page-link:active {
    color: var(--first-text-color);
    border-color: var(--first-text-color);
    background: #EFF1F1;

}
a:hover {
    color: var(--first-text-color);
}
button:hover {
    color: var(--first-text-color);
}
.bottom-page {
    background: var(--background-color);
    
}
#logo-google-play {
    width: 143px;
    height: 42px;
}